
h1 {
    background-color: darkolivegreen;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
   
}

.hero-img {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

.contact-section {
    background-color: darkolivegreen;
    width: 100%;
    padding: 40px 0;
}


.contact-section .container {
    max-width: 600px;
}
